{% extends "::base.html.twig" %}

{% block menu %}
    {% set menu_active = 'home' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="mapid"></div>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-4" id="left">
                <span class="label label-warning">Due to high traffic, we are experiencing some problems. We are working to fix them!</span>
                <div class="search-box">
                    <input type="text" id="pac-input" class="form-control input-lg" placeholder="{{ 'pokemon.index.search.field'|trans }}" />
                </div>
                <div class="search-loading" style="display:none;"><img src="{{ asset('bundles/ui/img/loading.gif') }}" title="{{ 'pokemon.index.search.loading'|trans }}..." /></div>
                <div class="search-results"></div>

            </div>
            <div class="col-xs-8"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
{% endblock %}

{% block javascripts %}
<script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuLoYGjbihAAw6agIBm1yU2EaiN67XCi4&libraries=places"></script>
<script src="{{ asset('bundles/pokemon/js/pokemon.js') }}"></script>
<script type="text/javascript">
    var mymap;

    //autocomplete
    var input = document.getElementById('pac-input');
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();

        var lat = place.geometry.location.lat(), lng = place.geometry.location.lng();

        mymap.panTo(new L.LatLng(lat, lng));

        $('.search-loading').show();
        $('.search-no-result').hide();
        $('.search-results').load(Routing.generate('pokemon.default.search.location', { lat: lat, lon: lng}), {}, function () {
            $('.search-loading').hide();
        });
    });

    //leaflet
    mymap = L.map('mapid').setView([41.4012208,2.159863], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ29nb3Bva2VtYXAiLCJhIjoiY2lxdjVobmZmMDA4dWh3bmlvaDBxdTA2NyJ9.35Fbl3qWanY_UqBrfvG7-Q', {
        maxZoom: 18,
        id: 'gogopokemap.0nbmd20m',
        accessToken: 'pk.eyJ1IjoiZ29nb3Bva2VtYXAiLCJhIjoiY2lxdjVobmZmMDA4dWh3bmlvaDBxdTA2NyJ9.35Fbl3qWanY_UqBrfvG7-Q'
    }).addTo(mymap);
</script>
{% endblock %}