{% if results|length > 0 %}
<p>{{ 'pokemon.index.search.hint'|trans }}:</p>
{% endif %}
<div class="list-group">
    {% set tier = 0 %}
    {% for pokemon in results %}
        {% if pokemon.tier != tier %}
            {% set tier = pokemon.tier %}
            <br />
            <strong>{{ 'pokemon.index.search.tier'|trans }} {{ tier }}</strong>
            <br />
        {% endif %}
        <span class="label label-default" data-pkmn-number="{{ pokemon.number }}" data-pkmn-color="{{ pokemon.color }}" style="background-color: #{{ pokemon.color }};">
            <img src="{{ asset('pokemons/icons/'~pokemon.number~'.png') }}" />
            #{{ pokemon.number }} {{ pokemon.name }}
        </span>
        <input type="hidden" class="pkmn-{{ pokemon.number }}" value="{% for location in pokemon.locations %}{% if loop.index != 1 %}|{% endif %}{{ location.lat }},{{ location.lon }}{% endfor %}" />
    {% else %}
        <div class="alert alert-warning search-no-result" role="alert">{{ 'pokemon.index.search.noresults'|trans }}</div>
    {% endfor %}
</div>

<script type="text/javascript">
    var circle, raw, latlon, pkmns, num, color, name;

    pkmns = [];

    $('.label').on('click', function(e) {
        e.preventDefault();
        if ($(this).hasClass('label-default')) {
            // ENABLE
            $(this).removeClass('label-default');
            $(this).addClass('label-active');
            num = $(this).attr('data-pkmn-number');
            color = $(this).attr('data-pkmn-color');
            pkmns[num] = [];
            name = $(this).text();

            raw = $('.pkmn-'+num).val();
            $.each(raw.split('|'), function( index, value ) {
                latlon = value.split(',');
                circle = L.circle([latlon[0], latlon[1]], 200, {
                    color: '#'+color,
                    fillColor: '#'+color,
                    fillOpacity: 0.3
                }).addTo(mymap);
                circle.bindPopup(name);
                pkmns[num].push(circle);
            });
        } else {
            // DISABLE
            $(this).removeClass('label-active');
            $(this).addClass('label-default');
            num = $(this).attr('data-pkmn-number');
            $.each(pkmns[num], function( index, value ) {
                mymap.removeLayer(value);
            });
            console.log('disable: '+num);
            console.log(pkmns);
        }
    });
</script>